<app-bread-crumb [items]="[{text: 'Monitores'}]"></app-bread-crumb>

<p-table [lazy]="true" (onLazyLoad)="loadMonitoresLazy($event)" [totalRecords]="totalRecords"
    class="table stripped-table mb-2" [value]="monitores" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr class="d-flex" style="text-align: center">
            <th class="col-md-4">Nome</th>
            <th class="col-md-2">CPF</th>
            <th class="col-md-1">Check-in</th>
            <th class="col-md-2">Tipo Atividade</th>
            <th class="col-md-3">E-mail</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-monitor>
        <tr class="d-flex">
            <td class="col-md-4">{{monitor.nome}}</td>
            <td class="col-md-2">{{monitor.cpf}}</td>
            <td class="col-md-1">{{monitor.checkin}}</td>
            <td class="col-md-2">{{monitor.tipoAtividade}}</td>
            <td class="col-md-3">{{monitor.email}}</td>
        </tr>
    </ng-template>
</p-table>
<br />
<p-fileUpload [auto]="true" chooseLabel="Selecionar Arquivo" mode="basic" name="demo[]" accept=".xls*" maxFileSize="1000000"
    (onSelect)="onBasicUpload($event)"></p-fileUpload>